---
import { SOCIALS, SITE } from "@/config";
import LinkButton from "./LinkButton.astro";

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const socialIcons = import.meta.glob<{ default: any }>(
  "@/assets/icons/socials/*.svg",
  { eager: true }
);

function getSocialIcon(name: string) {
  const key = Object.keys(socialIcons).find(k =>
    k.toLowerCase().endsWith(`/${name.toLowerCase()}.svg`)
  );
  return key ? socialIcons[key].default : null;
}
---

<div class="flex flex-wrap items-center gap-1">
  {
    SOCIALS.map(social => {
      const Icon = getSocialIcon(social.name);
      const linkTitle = social.linkTitle ?? `${SITE.title} on ${social.name}`;
      return (
        Icon && (
          <LinkButton
            href={social.url}
            class="p-2 hover:rotate-6 sm:p-1"
            title={linkTitle}
          >
            <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
            <span class="sr-only">{linkTitle}</span>
          </LinkButton>
        )
      );
    })
  }
</div>
